recursive-include doc/source *
include doc/Makefile
recursive-include examples *
recursive-include extras *
include CONTRIBUTORS.txt
include License.txt
include Makefile
include peyotl/default_peyotl.ini
include README.md
include requirements.txt
recursive-include scripts *
include setup.py
include tests/*.py
include TESTING.md
include THANKS.txt
recursive-include tutorials *
global-exclude .DS_Store
global-exclude *.pyc
global-exclude .gitignore
